.popular-repo-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8ff;
  border: 1px solid #eeeeee;
  border-radius: 12px;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
}

@media screen and (min-width: 576px) {
  .popular-repo-item {
    width: 210px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .popular-repo-item {
    width: 280px;
    margin-bottom: 30px;
  }
}

.avatar-image {
  width: 100%;
  max-width: 100px;
}

.popular-repo-name {
  font-family: 'Roboto';
  font-size: 20px;
  color: #e73959;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .popular-repo-name {
    font-size: 26px;
  }
}

.popular-repo-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.repo-rating-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.count {
  font-family: 'Roboto';
  font-size: 18px;
  color: #1e293b;
  margin: 10px;
}
